@font-face {
    font-family: Algerian;
    src: url(../font/ALGER.TTF);
}

body {
    background-color: #fff;
    font-size: 30px;
    font-family: Algerian;
}


.wrapper-main {
    width: 900px;
    margin: 0 auto;
}


table {      
    width: 100%;
}

th {
    font-weight: bold;
}

td {
    border: 1px solid #000;
}
/*    border: 3px solid #000; */