@font-face {
    font-family: Algerian;
    src: url(../font/ALGER.TTF);
}

body { 
    background-color: #fff;
    font-size: 30px;
}

.wrapper-main {
    width: 900px;
    margin: 0 auto;
}

/* THIRD */
table {      
    width: 100%;
}

/* SECOND */
th {
    font-weight: bold;
}
